<style>
  .sidebar-logos {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .sidebar-logos> :not(:last-child) {
    margin-right: 12px;
  }

  .sidebar-logo {
    width: auto;
    height: 28px;
  }

  @media (min-width: 48em) {
    .sidebar-logos {
      justify-content: flex-start;
    }
  }
</style>

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>

      {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <!-- {% assign pages_list = site.pages %}
      {% for node in pages_list %}
      {% if node.title != null %}
      {% if node.layout == "page" %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title
        }}</a>
      {% endif %}
      {% endif %}
      {% endfor %} -->
      <a class="sidebar-nav-item"
        href="https://wendyfyx.notion.site/">CV</a>
      <a class="sidebar-nav-item" href="/research/">Research</a>
      <a class="sidebar-nav-item" href="/projects/">Projects</a>
      
      <!-- <a class="sidebar-nav-item" href="/contact/">Contact</a> -->

      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
      <!-- <div style="margin-top:20px;">
        <a target="_blank" title="follow me on Twitter" href="https://www.twitter.com/wendyfyx"><img
            alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png"></a>
      </div> -->
      <div class="sidebar-logos">
        <a href="https://scholar.google.com/citations?user=i5KFdZ0AAAAJ&hl=en" class="sidebar-logo">
          <i class="ai ai-google-scholar ai-2x"></i>
        </a>
        <a href="https://github.com/wendyfyx" class="sidebar-logo">
          <img height="28px" src="/assets/sidebar/github-icon-white.png" alt="Github">
        </a>
        <a href="https://twitter.com/wendyfyx" class="sidebar-logo">
          <img height="28px" src="/assets/sidebar/twitter-icon-white.png" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/in/yixue-wendy-feng-97b01a123/" class="sidebar-logo">
          <img height="28px" src="/assets/sidebar/linkedin-icon-64-white.png" alt="LinkedIn">
        </a>
        <!-- <a href="mailto: wendyfyx@seas.upenn.edu" class="sidebar-logo">
          <img height="28px" src="/assets/sidebar/email-64.png" alt="Email">
        </a> -->
      </div>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>